<div class="main_div">
  <h1>---------- Event Handling Example ----------</h1>

  <app-couter-app></app-couter-app>

  <hr />

  <h1>---------- Two Way Binding Example ----------</h1>

  <app-two-way-binding></app-two-way-binding>

  <br />
  <br />
  <hr />
  <h1>---------- Structural Directives ----------</h1>
  <app-structural-binding></app-structural-binding>
  <br />
  <br />
  <br />
  <hr />
  <h1>---------- Data Passing Between Parent and Child ----------</h1>

  <app-child-parent
    [myName]="name"
    [myArray]="myArray"
    [myObject]="myObject"
  ></app-child-parent>

  <br />
  <br />
  <br />
  <hr />
  <h1>----------Pipes in Angular ----------</h1>

  <app-pipes></app-pipes>

  <br />
  <br />
  <br />
  <hr />
  <h1>----------PrimeNG Practice ----------</h1>

  <app-prime-ng></app-prime-ng>
</div>
